// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

@background-hue: 210;

@theme-color-1: hsl(@background-hue, 65%, 18%);
@theme-color-2: hsl(@background-hue, 70%, 16%);
@theme-color-3: hsl(@background-hue, 50%, 18%);
@light-theme-color-1: hsl(@background-hue, 20%, 60%);
@light-theme-color-2: darken(@light-theme-color-1, 20%);

@text-color: hsl(@background-hue, 32%, 65);
