@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// Text Colors
@syntax-text: @image-color-4;

@syntax-comment: @image-color-6; //#00EB00;
@syntax-invisibles: fade(@syntax-comment, 30%);

@syntax-numeric: @image-color-7;
@syntax-constant: @image-color-7;
@syntax-escape-character: @image-color-11;
@syntax-modifier: @image-color-7;
@syntax-function-definition: @image-color-3;
@syntax-structure-definition: @image-color-3;

@syntax-important-keyword: @image-color-8;
@syntax-keyword: @image-color-8;
@syntax-control: @image-color-8;
@syntax-conditional: @image-color-5;
@syntax-loop: @image-color-5;
@syntax-exception: @image-color-3;
@syntax-operator: @image-color-6;
@syntax-return: @image-color-7;
@syntax-logical: @image-color-5;
@syntax-comparison: @image-color-6;
@syntax-assignment: @image-color-6;

@syntax-illegal: @image-color-3;
@syntax-punctuation: @image-color-4;
@syntax-dtype: @image-color-7;
@syntax-string: @image-color-10;
@syntax-variable: @image-color-5;

@syntax-builtin-function: @image-color-7;
@syntax-builtin-error: @image-color-3;
@syntax-support: @image-color-7;
@syntax-function-call: @image-color-4;
@syntax-structure-call: @image-color-3;

@syntax-bold: @text-color;
@syntax-italic: @text-color;
@syntax-ul: @text-color;
@syntax-changed: @text-color;
@syntax-deleted: @text-color;
@syntax-inserted: @text-color;
@syntax-list: @text-color;
@syntax-quote: @text-color;
@syntax-raw: @text-color;
@syntax-heading: @text-color;
@syntax-markup: @text-color;

// UI Elements
@syntax-cursor-color: white;
@syntax-wrap-guide-color: @syntax-invisibles;
@syntax-indent-guide-color: @syntax-invisibles;
// @syntax-invisible-character-color: @gray;

// For find and replace markers
@syntax-result-marker-color: @light-gray;
@syntax-result-marker-color-selected: white;

// Gutter colors
@syntax-gutter-text-color: @syntax-background-color;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;


// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;

// Background colors
@syntax-background-color: @image-color-1;
@syntax-selection-color: lighten(@image-color-1, 10%);
@syntax-gutter-background-color: @image-color-2;
@syntax-gutter-background-color-selected: lighten(@image-color-2, 10%); 
